<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.zz.sport.ai">
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- 用于提高GPS定位速度 -->
    <uses-permission
            android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/> <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- 用于提高GPS定位速度 -->
    <uses-permission
            android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/> <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/> <!-- 更改设置 -->
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/> <!-- 监听来电 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/> <!-- 监听短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/> <!-- 8.0安装权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-feature
            android:name="android.hardware.bluetooth_le"
            android:required="true"/>
    <uses-feature android:name="android.hardware.sensor.stepdetector"/>

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="false"
            android:resizeable="true"
            android:smallScreens="true"/>

    <application
            android:name="com.application.IApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">

        <activity android:name="com.start.StartActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateHidden"/>

         <!-- 设置key -->
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="7c32f5f9d228161e820a34427ade501f"/> <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService"/>

        <activity
                android:name="com.sport.SportActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateHidden"/>

        <service android:name="com.gaode.service.LocationForegroundService"/>

        <activity
                android:name="com.gaode.LocationPermissionRequestActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.history.SportHistoryActivity">
        </activity>
        <activity
                android:name="com.history.SportDetailActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.amap.locationservicedemo.JniMainActivity"
                android:screenOrientation="portrait"/>
        <activity
                android:name="com.amap.locationservicedemo.JniBroadActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="com.amap.locationservicedemo.JniMapActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="com.permission.LocationPermissionActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="com.base.BaseAppCompatActivityActivity"/>

        <service
                android:name="com.amap.gd.LocationService"
                android:process=":locationService">
            <intent-filter>
                <action android:name="com.ai.locationservice.LocationService"/>
            </intent-filter>
        </service>
        <service
                android:name="com.amap.gd.LocationHelperService"
                android:process=":locationHelperService">
            <intent-filter>
                <action android:name="com.ai.locationservice.LocationHelperService"/>
            </intent-filter>
        </service>

        <activity
                android:name="com.noti.NotiActivity"
                android:screenOrientation="portrait"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
                android:name="com.lockscreen.LockScreenActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustResize|stateHidden"/>
    </application>

</manifest>